 /* ------------------ Fuentes personalizadas ------------------ */
 @font-face {
   font-family: "Satoshi-black";
   src: url("../../../assets/fonts/Satoshi-Black.otf");
 }

 @font-face {
   font-family: "Satoshi-regular";
   src: url("../../../assets/fonts/Satoshi-Regular.otf");
 }

 /* Estilos para dispositivos de escritorio (ancho mínimo de 1024px) */
 @media screen and (min-width: 1024px) {
   .container {
     display: flex;
     flex-direction: row;
     /* Muestra las secciones en línea (izquierda y derecha) */
   }

   /* ------------------ SECCION IZQUIERDA ------------------ */
   .left {
     background-image: url(../../../assets/img/Vector.svg);
     background-color: #eceff1;
     width: 65%;
     height: 100vh;
     /* Abarca toda la altura de la pantalla */
     display: flex;
     flex-direction: row;
     justify-content: center;
     animation: movimiento 12s infinite linear alternate;
   }

   /* ------------------ efecto glass ------------------ */

   .glass-effect {
     width: 100%;
     height: 100vh;
     backdrop-filter: blur(0.2rem);
     -webkit-backdrop-filter: blur(0.2rem);
     display: flex;
     flex-direction: column;
     justify-content: center;
   }

   @keyframes movimiento {
     from {
       background-position: bottom;
     }

     to {
       background-position: top;
     }
   }

   /* ------------------ Estilos para el contenido de la izquierda en pantallas grandes ------------------ */
   .box-left {
     padding: 4% 4%;
     width: auto;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
   }

   .tw {
     width: auto;
     height: 200px;
   }

   .box-left h1 {
     font-size: 64px;
     font-family: "Satoshi-black";
   }

   .left p {
     font-size: 34px;
     font-family: "Satoshi-regular";
   }

   /* ------------------ SECCION DERECHA ------------------ */
   .right {
     background-color: #ffffff;
     width: 35%;
     height: 100vh;
     display: flex;
     flex-direction: column;

   }

   .loader{
    position: fixed;
    width: 100%;
    z-index: 99;
   }

   .header-link {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
     text-decoration: none;
     padding: 5px 0 0;
   }

   .header img {
     width: 12%;
     object-fit: cover;
   }

   .box {
     width: auto;
     height: 100vh;
     display: flex;
     flex-direction: column;
     padding: 4% 4%;
     overflow: auto;

   }

   .box-shadow {
     width: auto;
     height: 100%;
     display: flex;
     flex-direction: column;
   }

   .title {
     width: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 30px;
     padding: 4% 4%;
   }

   .title h1 {
     font-family: "Satoshi-black";
     font-size: 48px;
   }

   .title h2 {
     font-family: "Satoshi-black";
     font-size: 34px;
     color: #00000080;
   }

   .mat-form {
     width: auto;
     height: 80vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;
     padding: 4% 4%;
     margin-top: 2.5rem;
   }

   mat-form-field {
     min-width: 150px;
     max-width: 350px;
     width: 100%;
   }

   .button-login {
     height: 48px;
     min-width: 150px;
     max-width: 350px;
     width: 100%;
   }

   .account {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-family: 'Satoshi-regular';
     font-size: 14px;
   }
   .account a{
    color: #00AEEF;
   }

   .footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     justify-content: flex-end;
     padding: 12px 0 22px;
   }

   .terms-link a {
     text-decoration: none;
     font-size: 12px;
     font-family: 'Satoshi-regular';
     color: #00AEEF;
   }

   .terms-link ::before {
     content: "|";
     margin: 0 10px;
     color: #777;
   }
 }

 @media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    /* Estilos para el contenedor en dispositivos móviles */
    display: flex;
    flex-direction: column;
    //     /* Muestra las secciones en línea (izquierda y derecha) */
  }
 
  .left {
   background-image: url(../../../assets/img/Vector.svg);
   background-color: #eceff1;
   width: 100%;
   height: 25vh;
   /* Abarca toda la altura de la pantalla */
   display: flex;
   flex-direction: row;
   justify-content: center;
   animation: movimiento 12s infinite linear alternate;
 }

 /* ------------------ efecto glass ------------------ */

 .glass-effect {
   width: 100%;
   height: 25vh;
   backdrop-filter: blur(0.2rem);
   -webkit-backdrop-filter: blur(0.2rem);
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 @keyframes movimiento {
   from {
     background-position: bottom;
   }
   to {
     background-position: top;
   }
 }

 /* ------------------ Estilos para el contenido de la izquierda en pantallas grandes ------------------ */
 .box-left {
   padding: 4% 4%;
   width: auto;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .tw {
   width: auto;
   height: 100px;
 }

 .box-left h1 {
   font-size: 32px;
   font-family: "Satoshi-black";
 }

 .left p {
   font-size: 16px;
   font-family: "Satoshi-regular";
 }

 /* ------------------ SECCION DERECHA ------------------ */
 .right {
   background-color: #ffffff;
   width: 100%;
   height: 70vh;
   display: flex;
   flex-direction: column;

 }

 .header-link {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   text-decoration: none;
   padding: 3px 0 0;
 }

 .header img {
   width: 10%;
   object-fit: cover;
 }

 .box {
   width: auto;
   height: 100vh;
   display: flex;
   flex-direction: column;
   padding: 4% 4%;
   overflow: auto;
 }

 .box-shadow {
   width: auto;
   height: 100%;
   display: flex;
   flex-direction: column;
 }

 .title {
   width: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
   padding: 4% 4%;
 }

 .title h1 {
   font-family: "Satoshi-black";
   font-size: 32px;
 }

 .title h2 {
   font-family: "Satoshi-black";
   font-size: 34px;
   color: #00000080;
 }

 .mat-form {
   width: auto;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   padding: 4% 4%;
   // margin-top: 2.5rem;
 }

 mat-form-field {
   min-width: 150px;
   max-width: 350px;
   width: 100%;
 }

 .button-login {
   height: 48px;
   min-width: 150px;
   max-width: 350px;
   width: 100%;
 }

 .account {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Satoshi-regular';
   font-size: 14px;
 }

 .footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   justify-content: flex-end;
   padding: 12px 0 22px;
   
 }

 .terms-link a {
   text-decoration: none;
   font-size: 12px;
   font-family: 'Satoshi-regular';
 }

 .terms-link ::before {
   content: "|";
   margin: 0 10px;
   color: #777;
 }
}


 /* Estilos para dispositivos móviles (ancho máximo de 767px) */
 @media screen and (max-width: 767px) and (orientation: portrait) {
}
// iPads, Tablets (481px - 768px)
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Aquí puedes definir tus estilos específicos para dispositivos móviles */
  .container {
    /* Estilos para el contenedor en dispositivos móviles */
    display: flex;
    flex-direction: column;
    //     /* Muestra las secciones en línea (izquierda y derecha) */
  }
 
  .left {
   background-image: url(../../../assets/img/Vector.svg);
   background-color: #eceff1;
   width: 100%;
   height: 25vh;
   /* Abarca toda la altura de la pantalla */
   display: flex;
   flex-direction: row;
   justify-content: center;
   animation: movimiento 12s infinite linear alternate;
 }

 /* ------------------ efecto glass ------------------ */

 .glass-effect {
   width: 100%;
   height: 25vh;
   backdrop-filter: blur(0.2rem);
   -webkit-backdrop-filter: blur(0.2rem);
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 @keyframes movimiento {
   from {
     background-position: bottom;
   }
   to {
     background-position: top;
   }
 }

 /* ------------------ Estilos para el contenido de la izquierda en pantallas grandes ------------------ */
 .box-left {
   padding: 4% 4%;
   width: auto;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .tw {
   width: auto;
   height: 100px;
 }

 .box-left h1 {
   font-size: 32px;
   font-family: "Satoshi-black";
 }

 .left p {
   font-size: 16px;
   font-family: "Satoshi-regular";
 }

 /* ------------------ SECCION DERECHA ------------------ */
 .right {
   background-color: #ffffff;
   width: 100%;
   height: 70vh;
   display: flex;
   flex-direction: column;

 }

 .header-link {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   text-decoration: none;
   padding: 3px 0 0;
 }

 .header img {
   width: 10%;
   object-fit: cover;
 }

 .box {
   width: auto;
   height: 100vh;
   display: flex;
   flex-direction: column;
   padding: 4% 4%;
   overflow: auto;
 }

 .box-shadow {
   width: auto;
   height: 100%;
   display: flex;
   flex-direction: column;
 }

 .title {
   width: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
   padding: 4% 4%;
 }

 .title h1 {
   font-family: "Satoshi-black";
   font-size: 32px;
 }

 .title h2 {
   font-family: "Satoshi-black";
   font-size: 34px;
   color: #00000080;
 }

 .mat-form {
   width: auto;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   padding: 4% 4%;
   // margin-top: 2.5rem;
 }

 mat-form-field {
   min-width: 150px;
   max-width: 350px;
   width: 100%;
 }

 .button-login {
   height: 48px;
   min-width: 150px;
   max-width: 350px;
   width: 100%;
 }

 .account {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Satoshi-regular';
   font-size: 14px;
 }

 .footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   justify-content: flex-end;
   padding: 12px 0 22px;
   
 }

 .terms-link a {
   text-decoration: none;
   font-size: 12px;
   font-family: 'Satoshi-regular';
 }

 .terms-link ::before {
   content: "|";
   margin: 0 10px;
   color: #777;
 }
}


// Small screens, laptops (769px - 1024px)
@media screen and (min-width: 769px) and (max-width: 1024px) {
  // Estilos para pantallas pequeñas y laptops aquí
  /* Aquí puedes definir tus estilos específicos para dispositivos móviles */
  .container {
    /* Estilos para el contenedor en dispositivos móviles */
    display: flex;
    flex-direction: column;
    //     /* Muestra las secciones en línea (izquierda y derecha) */
  }
 
  .left {
   background-image: url(../../../assets/img/Vector.svg);
   background-color: #eceff1;
   width: 100%;
   height: 25vh;
   /* Abarca toda la altura de la pantalla */
   display: flex;
   flex-direction: row;
   justify-content: center;
   animation: movimiento 12s infinite linear alternate;
 }

 /* ------------------ efecto glass ------------------ */

 .glass-effect {
   width: 100%;
   height: 25vh;
   backdrop-filter: blur(0.2rem);
   -webkit-backdrop-filter: blur(0.2rem);
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 @keyframes movimiento {
   from {
     background-position: bottom;
   }
   to {
     background-position: top;
   }
 }

 /* ------------------ Estilos para el contenido de la izquierda en pantallas grandes ------------------ */
 .box-left {
   padding: 4% 4%;
   width: auto;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .tw {
   width: auto;
   height: 100px;
 }

 .box-left h1 {
   font-size: 32px;
   font-family: "Satoshi-black";
 }

 .left p {
   font-size: 16px;
   font-family: "Satoshi-regular";
 }

 /* ------------------ SECCION DERECHA ------------------ */
 .right {
   background-color: #ffffff;
   width: 100%;
   height: 70vh;
   display: flex;
   flex-direction: column;

 }

 .header-link {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   text-decoration: none;
   padding: 3px 0 0;
 }

 .header img {
   width: 10%;
   object-fit: cover;
 }

 .box {
   width: auto;
   height: 100vh;
   display: flex;
   flex-direction: column;
   padding: 4% 4%;
   overflow: auto;
 }

 .box-shadow {
   width: auto;
   height: 100%;
   display: flex;
   flex-direction: column;
 }

 .title {
   width: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
   padding: 4% 4%;
 }

 .title h1 {
   font-family: "Satoshi-black";
   font-size: 32px;
 }

 .title h2 {
   font-family: "Satoshi-black";
   font-size: 34px;
   color: #00000080;
 }

 .mat-form {
   width: auto;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   padding: 4% 4%;
   // margin-top: 2.5rem;
 }

 mat-form-field {
   min-width: 150px;
   max-width: 350px;
   width: 100%;
 }

 .button-login {
   height: 48px;
   min-width: 150px;
   max-width: 350px;
   width: 100%;
 }

 .account {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Satoshi-regular';
   font-size: 14px;
 }

 .footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   justify-content: flex-end;
   padding: 12px 0 22px;
   
 }

 .terms-link a {
   text-decoration: none;
   font-size: 12px;
   font-family: 'Satoshi-regular';
 }

 .terms-link ::before {
   content: "|";
   margin: 0 10px;
   color: #777;
 }
}